@model ProjectWorkDemo.Models.Utente

@{
    ViewData["Title"] = "Details";
}

<head>
	<meta charset="utf-8" />
	<title>@ViewData["Title"] - Home</title>
	<link rel="stylesheet" href="/css/details-delete.css" />
    <link rel="stylesheet" href="/css/menuEfooter.css" />
</head>

<body>
<div class="container">
<h1>Crea Account</h1>
    <div class="form">
        <div class="formCenter">
        <div class="btl">
@*            <a class="btn-submit" asp-action="Index">Torna alla Lista</a>*@
        </div>
        <div class="head-body">
        <dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cognome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cognome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        </dl>
        </div>
        <div class="btl">
              <a class="btn-submit" asp-action="Index">Torna alla Lista</a>
@*            <a class="nav-link-back" asp-action="Edit" asp-route-id="@Model?.IdFornitori">Modifica</a>*@
        </div>
        </div>
    </div>
</div>
</body>